.idea/
*.iml
spark-warehouse/
target/
dependency-reduced-pom.xml
version.txt
build/test/
*/build
metastore_db/
derby.log

# Hive logs
derby.log
metastore_db
metastore_*

# IDE cruft
.settings
caps-core/.project
caps-core/.classpath
.project

# Gradle
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
# gradle/wrapper/gradle-wrapper.properties

